.container {
	width: 1000px;
	margin: 0 auto;
}

header {
	background: red;
	height: 100px;
}

main {
	background: yellow;
	height: 250px;
	float: left;
	width: 700px;
}

aside {
	background: green;
	height: 250px;
	float: right;
	width: 300px;
}

footer {
	background: blue;
	height: 100px;
	clear: both;

}

