h1 {
  font-family: helvetica, sans-serif;
  text-align: center;
  font-size: 45px;
  }
body {
	background-image: "shark.jpg", "shark.jpg", "shark.jpg", "shark,jpg";
}
a {
	color: black;
	text-decoration: none;
	font-family: helvetica, sans-serif;
	}

button {
      background-color: #0180b7;
      border: none;
      font-color:c8c8c8;
}