

h1 {

font-family: 'Lato', sans-serif;
text-align: center;
font-size: 50px;
padding-top: 130px;

    }

h2 {
font-family: 'Lato', sans-serif;
text-align: left;
padding-left: 125px;
padding-top: 50px;
font-size: 20px;

}


 
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    text-align: center;



}

li {
    
    display: inline-block;
    padding-left: 50px;

  
}


li a {
    
    text-align: center;
    text-decoration: none;
    display: block;
    padding-right: 75px;
    
}

img {

  height: 100px;
  width: 100px;

}

#nav-wrapper ul {
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}
    

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 100px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 100px;
}


span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
  opacity: 0;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content {
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
  opacity: 0;
}

p {
  text-align: right;
  padding-right: 200px; 
  padding-left: 200px;
  font-size: 12px;

}

.CV {

    padding-bottom: 100px;

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: Helvetica, sans-serif;
    background: url(images/stripe.png) repeat;
}

p {
    font-size: 1.3em;
    margin-bottom: 15px;
}

#page-wrap {
    width: 660px;
    background: white;
    padding: 100px 50px 20px 50px;
    margin: 20px auto;
    min-height: 500px;
    height: auto !important;
    height: 500px;
}

#contact-area {
    width: 600px;
    margin-top: 25px;
}

#contact-area input, #contact-area textarea {
    padding: 5px;
    width: 471px;
    font-family: Helvetica, sans-serif;
    font-size: 1.4em;
    margin: 0px 0px 10px 0px;
    border: 2px solid #ccc;
}

#contact-area textarea {
    height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
    border: 2px solid #900;
}

#contact-area input.submit-button {
    width: 100px;
    float: right;
}

label {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 100px;
    padding-top: 5px;
    font-size: 1.4em;
}

