body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

nav {
	background: black;
}

a {
	color: #cccccc;
	text-decoration: none;
	background: black;
	display: inline-block;
	padding: 25px;
}

a:hover {
  color: #ffffff;
  background: #ff7401;
}
