.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 70px;
}


#navBar {
   
    font-size: 20px;
    font-family: helvetica;
    font-weight: bold;
    text-align: left;
    list-style: none;
    text-decoration: none;
    padding-right: 1px;

} 

#navBar li {

display: inline;
padding: 15px;
}


#navBar a {
text-decoration: none;
color: black;
}

#navBar a:hover {
    color: gray;
}





