.container {
	margin: 0 auto;
	width: 85%;
	overflow: hidden;
}

header {
	background-color: black;
	text-transform: uppercase;
	padding: 10px 0;
}

header h1 {
	font-size: 35px;
	float: left;
	color: white;
}

header nav {
	float: right;
	margin-top: 8px;
}

header nav a {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin-left: 50px;
}

#small-nav {
	display: none;
}

#small-nav a {
	display: block;
	background-color: rgb(222,222,222);
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	padding: 5px 0;
	text-decoration: none;
	color: black;
}

#icon {
	display: none;
}

@media screen and (max-width: 900px) {
	header nav a {
		display: none;
	}

	#icon {
		display: block;
	}
}
