body {
    font-family: 'Lato',sans-serif;
    color: #444;
    font-size: 20px;
}

.container {
    width: 720px;
    padding: 54px;
}

img {
    width: 720px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    font-size: 20px;
    font-weight: 300;
}

li a {
    margin-right: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: #ddd;
}

.sitelinks {
    list-style: none;
    display: inline;
    font-weight: 300;
    color: #gray;
    font-size: 25px;
}

h1 {
    color: red;
    line-height: 1.5px;
    font-size: 60px;
}

h2 {
    color: #ddd;
    font-size: 40px;
}

h3 {
    color: #000;
    font-size: 30px;
}

h4 {
    color: #000;
    font-size: 30px;
}

.continue a {
    color: #D00;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    text-align: right;
    display: block;
    margin: 25px auto 0;
}

.continue a:hover {
    color: #a00;
}

a:hover {
    color: #a00;
}

.site-footer a {
    font-size: 20px;
    font-weight: 300;
    color: #D00;
}

.site-footer a:hover {
    color: #a00;
}

.copywrite {
    color: #bbb;
}

h1,h2,h3,h4 {
    font-weight: 300;
}

article {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    line-height: 1.5;
    font-weight: 300;
}






